
/*****************************************************************************/
/* - application styles -*/
/*****************************************************************************/


.simple_datatypes {
  background-color : blue;
}

.reference {
  background-color : red;
}

.auto_inc {
  background-color : green;
}
