*~
*.hi
*.o
hie.yaml

haddock/
TAGS

###############################################################################
# cabal
###############################################################################

cabal.project.local*
dist-newstyle

###############################################################################
# Some directories
###############################################################################

dist/
build-logs/
tmp/
dependencies/
not-needed/
auto-skit/

.deps/

tools/move-modules

###############################################################################
# Executables
###############################################################################

###############################################################################
# VP UML
###############################################################################

*.vpp~*
.vpprefdata/

###############################################################################
# setup
###############################################################################

setup/apache/wilde-hs-cgi.conf
