*~
*.hi
*.o
haddock/
TAGS

###############################################################################
# cabal
###############################################################################

cabal.project.local*
dist-newstyle

###############################################################################
# Some directories
###############################################################################

dist/
tmp/
dependencies/
not-needed/
auto-skit/

.deps/

tools/move-modules

###############################################################################
# Executables
###############################################################################

###############################################################################
# VP UML
###############################################################################

*.vpp~*
.vpprefdata/

###############################################################################
# Autotools
###############################################################################

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
/auxiliary/

###############################################################################
# setup
###############################################################################

setup/apache/wilde-hs-cgi.conf
