._rT.country
{
  background-color : silver;
}

._rT.genre
{
  background-color : purple;
}

._rT.specific_subject
{
  background-color : purple;
}

._rT.director
{
  background-color : navy;
  color            : white;
}

._rT.title
{
  background-color : maroon;
}

._rT.season
{
  background-color : aqua;
}

._rT.episode
{
  background-color : blue;
}

._rT.unit
{
  background-color : green;
}

._rT.recording
{
  background-color : lime;
}
