BODY
{
  color             : #000000;
  /* background-color  : #D8D9D4; */
  /* background-color  : #CCCDC8; */
/*   background-color  : #DCDDDC; */
/*   background-color  : #ECEDEC; */
  font-family       : sans-serif;
}

/******************************************************************************
* - messages -
******************************************************************************/

DIV._cPg._rT._error
{
  background-color  : gray;
  border-width      : thick;
  border-style      : solid;
  border-color      : 600000;
  text-align        : left;
  font-style        : italic;
}

/* .error_explanation */
/* { */
/*   color             : red; */
/* /\*   font-style        : italic; *\/ */
/* } */

/* .attention */
/* { */
/*   font-weight       : bold; */
/* /\*   font-style        : italic; *\/ */
/* } */

/* .error_value */
/* { */
/*   margin            : 10pt; */
/*   padding           : 5pt; */
/*   border-width      : thin; */
/*   border-style      : solid; */
/*   background-color  : white; */
/* } */


/*****************************************************************************/
/* - _rA -*/
/*****************************************************************************/


._rA A:link
{
  color             : inherit;
  text-decoration   : none;
}

._rA A:hover
{
  text-decoration   : none;
}

._rA A:visited
{
  color             : inherit;
  text-decoration   : none;
}

TABLE > TBODY TD._rA
{
  background-color  : #A0A0A0;
  /* background-color  : purple; */
  border-color      : #A0A0A0;
  text-align        : center;
}


/******************************************************************************
* - refattr -
******************************************************************************/


A._refattr:link
{
  color             : inherit;
  text-decoration   : inherit;
}

A._refattr:visited
{
  color             : inherit;
  text-decoration   : none;
}

A._refattr:hover
{
  text-decoration   : underline;
}


/*****************************************************************************/
/* - btn -*/
/*****************************************************************************/


A._btn._txt
{
  /* background-color  : #B0B0B0; */
  border-radius     : 4px;
  padding           : 1px;
  margin-right      : 4px;
  font-size         : 90%;
}

A._btn._txt:link
{
  color             : #393948;
  text-decoration   : none;
}

A._btn._txt:visited
{
  color             : #4E5B62;
  text-decoration   : none;
}

A._btn._txt:hover
{
  color             : white;
  background-color  : #606060;
}

A._btn._img
{
  border-radius     : 4px;
}


/******************************************************************************
* - TABLE -
******************************************************************************/


TABLE
{
  border-collapse   : collapse;
  border-color      : #202020;
  border-width      : 2pt;
  border-style      : solid;
}

TABLE._form
{
  padding           : 10pt;
  border-color      : #000000;
  border-width      : thin;
  border-style      : none; /* groove; */
}

TABLE._weO._m1
{
  border-width      : medium;
}


/******************************************************************************
* - table - object list (presentation) -
******************************************************************************/


TABLE._weO._mN._uP > THEAD
{
  color             : #000000;
  background-color  : #ccccff;
  /* background-color  : cyan; */
  font-weight       : bold;
  font-style        : italic;
}

TABLE._weO._mN._uP > TFOOT._summary
{
  background-color  : #C3C4C3;
  border-color      : #C3C4C3;
  font-weight       : bold;
}


/******************************************************************************
* - TR, TH , TD -
******************************************************************************/


TD,TH
{
  /* border            : 1px solid #B0B0B0; */
  border-style      : none;
  vertical-align    : top;
  padding           : 0px 5px;
}

TD._rV._uI
{
  vertical-align    : top;
  border-style      : none;
}

TABLE._form > TR > TD {
  border-style      : none;
}

._rl_dependent_component TH._cC._rT {
  font-style        : italic;
}


/* object sequences : even/odd rows. */


TBODY > TR._weO:nth-child(even)
{
  background-color  : #F3F3F3;
}

TBODY > TR._weO:nth-child(odd)
{
  background-color  : #EEEEEE;
}

/* object sequences : hover. */

TBODY > TR._weO:hover
{
  /* background-color  : #404040; */
  background-color     : black;
  color                : white;
}

/* ._summary TD
{
  border-color      : #B3B4B3;
} */

._summary ._comment
{
  font-weight       : normal;
  font-style        : italic;
  font-size         : 85%;
}


/******************************************************************************
* - DIV -
******************************************************************************/


DIV._cPg._rT
{
  /* color             : #000000; */
  /* background-color  : #7D89AC; */
  margin-bottom     : 20px;
  border-radius     : 0.2em;
  border-style      : none;
  padding           : 10px;
  text-align        : center;
  font-size         : 200%;
  font-weight       : bold;
  font-variant      : small-caps;
}

._cPg._error DIV._cPg._rT
{
  border-radius     : 0;
  background-color  : gray;
  border-width      : medium;
  border-style      : solid;
  border-color      : red;
  text-align        : left;
  font-style        : italic;
}

DIV._cC._cPg
{
  margin        : auto;
  margin-bottom : 2em;
  width         : fit-content;
}

DIV._cC._rA
{
  background-color: inherit;
  margin-top    : 0.3em;
  font-weight   : bold;
  text-align    : center;
}


/******************************************************************************
* - PRE -
******************************************************************************/


PRE
{
  margin            : 0px;
  font-family       : monospace;
}


/******************************************************************************
* - ... -
******************************************************************************/


._uP
{
  text-align        : left;
}

._mN TH._rT
{
  /* color             : #000000; */
  /* background-color  : #ccccff; */
  font-weight       : bold;
  font-style        : italic;
}

._rV._uI
{
  color             : #000000;
  background-color  : #cccccc;
}

._rV._uP
{
  color             : #000000;
  background-color  : #FCFCFC;
}

/*
  Value Presentation (attribte) in an input form.
  Use same style as for Value Input.  Otherwise, the form background will switch
  style for individual attributes (the Input attributes), which look very bad.
  Note: If the Value becomes difficult to read, the text style may need to be
  adjusted.
*/
._cC._uI ._rV._uP
{
  color             : #000000;
  background-color  : #cccccc;
  border-style      : none;
}

IMG
{
  border: 0px;
}

HR
{
  color             : #000000;
  background-color  : #cccccc;
  width             : 600px;
  border            : 0px;
  height            : 1px;
}
