/*****************************************************************************/
/* - _rA -*/
/*****************************************************************************/


._rA A:link
{
  color             : inherit;
  text-decoration   : none;
}

._rA A:hover
{
  text-decoration   : none;
}

._rA A:visited
{
  color             : inherit;
  text-decoration   : none;
}

TD._rA
{
  background-color  : #A0A0A0; /* purple; */
  border-color      : #A0A0A0;
  text-align        : center;
}


/******************************************************************************
* - refattr -
******************************************************************************/


A._refattr:link
{
  color             : inherit;
  text-decoration   : inherit;
}

A._refattr:visited
{
  color             : inherit;
  text-decoration   : none;
}

A._refattr:hover
{
  text-decoration   : underline;
}


/*****************************************************************************/
/* - btn -*/
/*****************************************************************************/


A._btn._txt
{
  /* background-color  : #B0B0B0; */
  border-radius     : 4px;
  padding           : 1px;
  margin-right      : 4px;
  font-size         : 90%;
}

A._btn._txt:link
{
  color             : #393948;
  text-decoration   : none;
}

A._btn._txt:visited
{
  color             : #4E5B62;
  text-decoration   : none;
}

A._btn._txt:hover
{
  color             : white;
  background-color  : #606060;
}

A._btn._img
{
  border-radius     : 4px;
}


/******************************************************************************
* - titles -
******************************************************************************/


._cPg._rT
{
  background-color  : #7D89AC; /* DEBUG yellow */
  margin-bottom     : 20px;
  border-radius     : 0.2em;
  border-style      : none;
  padding           : 10px;
  text-align        : center;
  font-size         : 200%;
  font-weight       : bold;
  font-variant      : small-caps;
}

._cPg._rT._error
{
  background-color  : gray;
  border-width      : thick;
  border-style      : solid;
  border-color      : 600000;
  text-align        : left;
  font-style        : italic;
}

._cPg._error._rT
{
  background-color  : gray;
  border-width      : thick;
  border-style      : solid;
  border-color      : red;
  text-align        : left;
  font-style        : italic;
}

._weA._rT,
._weA > ._rT
{
  background-color  : #ccccff; /* DEBUG cyan; */
  text-align        : left;
  font-weight       : bold;
  font-style        : italic;
}


._rl_dependent_component TH._cC._rT {
  text-align        : center;
  font-style        : italic;
}


/******************************************************************************
* - TABLE -
******************************************************************************/


TABLE._cC
{
  border-collapse   : collapse;
  border-color      : black; /* DEBUG orange; */
  border-width      : 2px;
  border-style      : solid;
}

TABLE._cC._uI TD
{
  padding           : 0.1em;
}

TABLE._cC._weO._m1
{
  border-width      : medium;
}


/******************************************************************************
* - table - object list (presentation) -
******************************************************************************/


TABLE._weO._mN._uP > THEAD
{
  color             : #000000;
  background-color  : #ccccff; /* DEBUG green; */
  font-weight       : bold;
  font-style        : italic;
}

TABLE._weO._mN._uP > TFOOT._summary
{
  background-color  : #C3C4C3;
  font-weight       : bold;
}


/******************************************************************************
* - TR, TH , TD -
******************************************************************************/


TD,TH
{
  /* border            : 1px solid #B0B0B0; */
  border-style      : none;
  vertical-align    : top;
  padding           : 0px 5px;
}

TD._rV._uI
{
  vertical-align    : top;
  border-style      : none;
}

TABLE._form > TR > TD {
  border-style      : none;
}


/* object sequences : even/odd rows. */


TBODY > TR._weO:nth-child(even)
{
  background-color  : white;
}

TBODY > TR._weO:nth-child(odd)
{
  background-color  : #F0F0F0;
}

/* object sequences : hover. */

TBODY > TR._weO:hover
{
  background-color     : #e0e0e0;
}

._summary ._comment
{
  font-weight       : normal;
  font-style        : italic;
  font-size         : 85%;
}


/******************************************************************************
* - DIV -
******************************************************************************/


DIV._cC._cPg
{
  margin        : auto;
  margin-bottom : 2em;
  width         : fit-content;
}

DIV._cC._rA
{
  background-color: inherit; /* DEBUG blue; */
  margin-top    : 0.3em;
  font-weight   : bold;
  text-align    : center;
}


/******************************************************************************
* - PRE -
******************************************************************************/


PRE
{
  margin            : 0px;
  font-family       : monospace;
}


/******************************************************************************
* - ... -
******************************************************************************/


/* ._uP
{
  text-align        : left;
}
 */

._rV._uI
{
  background-color  : #cccccc; /* DEBUG black; */
}

._rV._uP
{
  color             : #000000;
  background-color  : #FCFCFC;
}

/*
  Value Presentation (attribte) in an input form.
  Use same style as for Value Input.  Otherwise, the form background will switch
  style for individual attributes (the Input attributes), which look very bad.
  Note: If the Value becomes difficult to read, the text style may need to be
  adjusted.
*/

 IMG
{
  border: 0px;
}
